/*Lance Port css v.12*/

html{
margin:0px;
background:grey;
}

body{
margin:0px;
background:url('images/bod_bg.png');
background-repeat:repeat-x;
background-attachment:fixed;
background-position:center bottom; 
position:relative;
z-index:-2;

}


/**********header***************/

#header{
height:106px;
width:100%;
background:red;
position:fixed;
background:url('images/nav_bg.png')repeat-x;
z-index:5;
}

#headcon{
height:106px;
width:970px;
margin-left:auto;
margin-right:auto;
}

#logo{
height:106px;
width:240px;
float:left;
background:url('images/test.png');
}

#menu{
height:106px;
width:375px;
background:rd;
float:right;

}

#abs_home{
width:58px; 
height:104px;
background:url('images/home_ico.png');
position:absolute; 
margin-left:13px;
opacity:.6;
}

#abs_home a{
width:58px; 
height:104px;
position:absolute; 
opacity:.6;
}

#abs_home:hover{
opacity:1;
background:url('images/home_ico_hover.png');
}

#abs_port{
width:92px; 
height:104px;
background:url('images/port_ico.png');
position:absolute; 
margin-left:102px;
opacity:.6;
}

#abs_port a{
width:92px; 
height:104px;
position:absolute; 
opacity:.6;
}


#abs_port:hover{
opacity:1;
background:url('images/port_ico_hover.png');
}

#abs_about{
width:63px; 
height:104px;
background:url('images/about_ico_here.png');
position:absolute; 
margin-left:227px;
opacity:.6;
}

#abs_about a{
width:63px; 
height:104px;
position:absolute; 
opacity:.6;
}


#abs_about:hover{
opacity:1;
background:url('images/about_ico_hover_here.png');
}

#abs_blog{
width:52px; 
height:104px;
background:url('images/blog_ico.png');
position:absolute; 
margin-left:324px;
opacity:.6;
}

#abs_blog a{
width:52px; 
height:104px;
position:absolute; 
opacity:.6;
}

#abs_blog:hover{
opacity:1;
background:url('images/blog_ico_hover.png');
}




/************container***************/
#container{
width:970px;
height:1080px;
background:gren;
margin-left:auto;
margin-right:auto;
}

#container p{
margin:0px;
padding-top:100px;

}

#padding{
background:ed;
height:157px;
width:970px;
}

#stuff{
width:970px;
height:838px;
background:geen;
}

#stuff ul{
margin:0px;
}

#about{
height:318px;
width:452px;
background:url('images/about_bg.png');
float:left;

}

#resume{
margin-top:24px;
height:41px;
width:159px;
position:absolute;

}

#resume a{
height:41px;
width:159px;
position:absolute;
background:url("images/about_resume.png");

background-position:0px 0px;
}

#resume a:hover{
background:url("images/about_resume.png");
background-position:0px 41px;
}


#about p{
padding-top:37px;
font-family:arial;
font-size:14px;
color:white;
line-height:18px;
}

#connect{
width:452px;
height:156px;
background:url('images/connect_bg.png');
float:left;
clear:both;
margin-top:78px;
}

#connect p{
padding-top:38px;
font-family:arial;
font-size:14px;
color:white;
line-height:18px;
}

.conbtn1{
margin-top:10px;
height:72px;
width:150px;
float:left;
}
.conbtn1 a{
position:absolute;
height:72px;
width:150px;
background:url("images/connect_gplus.png");
opacity:.7
}
.conbtn1 a:hover{
opacity:1;
}
.conbtn2{
margin-top:10px;
height:72px;
width:150px;
float:left;
}
.conbtn2 a{
position:absolute;
height:72px;
width:150px;
background:url("images/connect_twitter.png");
opacity:.7
}
.conbtn2 a:hover{
opacity:1;
}
.conbtn3{
margin-top:10px;
height:72px;
width:150px;
float:left;
}
.conbtn3 a{
position:absolute;
height:72px;
width:150px;
background:url("images/about_behance.png");
opacity:.7;
}
.conbtn3 a:hover{
opacity:1;
}

#contact{
margin-left:516px;
width:452px;
height:633px;
background:url("images/contact_bg.png");
position:absolute;
}

#contact P{
padding:0px;
color:rgba(0,0,0,0);
font-size:0px;
}

/**********getting sloppy with the contact form*******************/
html body div#container div#stuff div#contact div#post-13.post div.entry div#wpcf7-f28-p13-o1.wpcf7 form.wpcf7-form input:focus{

outline:none;
}

html body div#container div#stuff div#contact div#post-13.post div.entry div#wpcf7-f28-p13-o1.wpcf7 form.wpcf7-form p span.wpcf7-form-control-wrap input.wpcf7-form-control{
margin-bottom:41px;
height:43px;
width:433px;
border:none;
background:rgba(0,0,0,0);
font-family:arial;
font-size:14px;
color:white;
line-height:18px;
margin-left:10px;
}

html body div#container div#stuff div#contact div#post-13.post div.entry div#wpcf7-f28-p13-o1.wpcf7 form.wpcf7-form p span.wpcf7-form-control-wrap textarea.wpcf7-form-control{
font-family:arial;
font-size:14px;
color:white;
line-height:18px;
width:432px;
height:348px;
border:none;
padding:0px;
background:rgba(0,0,0,0);
margin-left:10px;
resize: none;
}

html body div#container div#stuff div#contact div#post-13.post div.entry div#wpcf7-f28-p13-o1.wpcf7{
margin-top:59px;
}

html body div#container div#stuff div#contact div#post-13.post div.entry div#wpcf7-f28-p13-o1.wpcf7 form.wpcf7-form p span.wpcf7-form-control-wrap textarea.wpcf7-form-control:focus{

outline:none;
}

textarea.wpcf7-form-control{

}

div.submit{
margin-top:10px;
height:41px;
width:144px;

}

div.submit input{
background:url("images/about_submit.png");
background-position:0px 0px;
height:41px;
width:144px;
border:none;
font-size:0px;
color:rgba(0,0,0,0);
}

div.submit input:hover{
background:url("images/about_submit.png");
background-position:0px 41px;
}

wpcf7-response-output {
font-family:arial;
font-size:12px;
color:white;
line-height:18px;
}