/*Lance Port css v.12*/

html{
margin:0px;
background:grey;
}

body{
margin:0px;
background:url('images/bod_bg.png');
background-repeat:repeat-x;
background-attachment:fixed;
background-position:center bottom; 
position:relative;
z-index:-2;

}


/**********header***************/

#header{
height:106px;
width:100%;
background:red;
position:fixed;
background:url('images/nav_bg.png')repeat-x;
z-index:5;
}

#headcon{
height:106px;
width:970px;
margin-left:auto;
margin-right:auto;
}

#logo{
height:106px;
width:240px;
float:left;
background:url('images/test.png');
}

#menu{
height:106px;
width:375px;
background:rd;
float:right;

}

#abs_home{
width:58px; 
height:104px;
background:url('images/home_ico.png');
position:absolute; 
margin-left:13px;
opacity:.6;
}

#abs_home a{
width:58px; 
height:104px;
position:absolute; 
opacity:.6;
}

#abs_home:hover{
opacity:1;
background:url('images/home_ico_hover.png');
}

#abs_port{
width:92px; 
height:104px;
background:url('images/port_ico.png');
position:absolute; 
margin-left:102px;
opacity:.6;
}

#abs_port a{
width:92px; 
height:104px;
position:absolute; 
opacity:.6;
}


#abs_port:hover{
opacity:1;
background:url('images/port_ico_hover.png');
}

#abs_about{
width:63px; 
height:104px;
background:url('images/about_ico_here.png');
position:absolute; 
margin-left:227px;
opacity:.6;
}

#abs_about a{
width:63px; 
height:104px;
position:absolute; 
opacity:.6;
}


#abs_about:hover{
opacity:1;
background:url('images/about_ico_hover_here.png');
}

#abs_blog{
width:52px; 
height:104px;
background:url('images/blog_ico.png');
position:absolute; 
margin-left:324px;
opacity:.6;
}

#abs_blog a{
width:52px; 
height:104px;
position:absolute; 
opacity:.6;
}

#abs_blog:hover{
opacity:1;
background:url('images/blog_ico_hover.png');
}




/************container***************/
#container{
width:970px;
height:930px;
background:gren;
margin-left:auto;
margin-right:auto;
}

#container p{
margin:0px;
padding-top:10px;

}

#padding{
background:ed;
height:157px;
width:970px;
}

#stuff{
width:970px;
height:800px;
background:geen;
}

#stuff ul{
margin:0px;
}

#about{
height:467px;
width:284px;
background:url('images/abme_bg.png');
float:left;
margin-right:58px;
}

#about p{
padding-top:46px;
font-family:arial;
font-size:13px;
color:white;

}

#contact{
float:left;
height:467px;
width:284px;
background:url('images/conme_bg.png');
}

#contact :link{
text-decoration:none;
color:white;
}

#contact p{
padding-top:46px;
font-family:arial;
font-size:13px;
color:white;
border-bottom:1px solid rgba(255,255,255,.3);
padding-bottom:20px;
}

div#contact ul{
list-style:none;
padding-left:0px;
padding-top:0px;
font-family:arial;
font-size:13px;
}

div#contact ul li{
padding-bottom:15px;
padding-top:12px;
border-bottom:1px solid rgba(255,255,255,.3);
}

div#contact ul li:hover{
background:url('images/conlink_bg.png');
}

input.wpcf7-text{
width:970px;
}

div.entry p{
color:white;
font-family:arial;
font-weight:bold;
font-size:15px;
}

div.entry textarea{
width:970px;
}
