/***********footer************/
#footer{
height:45px;
width:100%;
background:rgba(0,0,0,.7);
border-top:1px solid rgba(78,78,78,.5);
}
#foot_stuff{
width:970px;
height:45px;
margin-left:auto;
margin-right:auto;
background:bue;
}


div#left{
height:45px;
width:300px;
background:url('images/copy_bg.png');
float:left;
}

div#left h3{
width:200px;
font-size:10px;
color:grey;
font-family:arial;
margin-top:0px;
padding-top:13px;
}

div#left h3 span{
color:black;
}

div#right{
height:45px;
width:128px;
background:url('images/valid_bg.png');
float:right;
background:rd;
}

div#abs_valid1{
background:ed;
height:45px;
width:47px;
float:left;
position:absolute;
}

div#abs_valid1 a{
background:lue;
height:45px;
width:47px;
position:absolute;
}

div#abs_valid2{
background:rd;
height:45px;
width:47px;
margin-left:47px;
position:absolute;
}


div#abs_valid2 a{
background:blu;
height:45px;
width:47px;
position:absolute;
}

div#abs_valid3{
height:45px;
width:30px;
float:right;
}

div#abs_valid3 a{
height:45px;
width:30px;
float:right;
}

/*****************************************************/